*{
    margin: 0px;
    padding: 0px;
  }

  body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column; 
   
  }


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    height: 100%;
    background-color: greenyellow;
    
    
  }


  .game-info-container {
      width: auto;
      background-color: gray;

  }

  .game-buttons{
      background-color: red;
      border-style: 3px solid green;
      width: auto;
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
 
  }

  .footer {
    display: flex;
    margin-top: auto;
    background-color: #eeeeee;
    padding: 20px;
  }


  .title {
      background-color: green;
    
  }

  .player-choice-btn {
      padding: 10px 25px 10px 25px;
  }

  #play {
    padding: 10px 25px 10px 25px;
    margin-bottom: 50px;
  }

  .hidden {
      display: none;
  }
