*{
    margin: 0px;
    padding: 0px;
  }

  body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column; 
   
  }


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    /* justify-content: center;
    flex: 1; */
  }


  .game-info-container {
      width: auto;
      background-color: gray;
      /* align-items: flex-end; */
      margin-top: 150px;
      
  }

  .game-buttons{
      background-color: red;
      border-style: 3px solid green;
      width: 100%;
      display: flex;
      justify-content: center;
      /* margin-bottom: 150px; */
      
      
  }

  .footer {
    display: flex;
    margin-top: auto;
    background-color: #eeeeee;
    padding: 20px;
  }


  .title {
      background-color: green;
      margin-bottom: 50px;
  }

  .player-choice-btn {
      padding: 10px 25px 10px 25px;
  }

  #play {
    padding: 10px 25px 10px 25px;
  }

  .hidden {
      display: none;
  }
